


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
}

nav {
    background-color: #4CAF50;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: white; /* Cor do texto dos links */
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #45a049; /* Cor ao passar o mouse */
    border-radius: 5px;
}